<div class="container">
    <h1 class="text-center">Products List</h1>
    <div>
        <button
            type="button"
            [routerLink]="['/products', 'add']"
            class="btn btn-sm btn-primary mb-3"
        >
            Add New Product
        </button>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let product of products">
            <div class="card">
                <img
                    src="{{ product.image }}"
                    class="card-img-top border-dark-subtle product-image object-fit-contain p-1"
                    alt="{{ product.name }}"
                />
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">
                        <strong>Price: </strong>{{ product.price }}
                    </p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                    <a
                        routerLink="/products/edit/{{ product.name }}"
                        class="btn btn-success btn-sm ms-2"
                        >Edit</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
